<!-- <app-my-sidenav-content-left-tab01></app-my-sidenav-content-left-tab01> -->
<!-- <div [innerHTML]="MySidenavContentLeftComponentData | safe: 'html' | safe: 'style'| safe: 'script' "></div>
 -->
<!-- <div [innerHTML]="MySidenavContentLeftComponentData"></div> -->
<!-- {{MySidenavContentLeftComponentData}} -->
<p *ngIf="FalseTrueCheck">false/true check</p>
<app-my-sidenav-content-left-tab01 *ngIf="globals.selectedTab == 'Tab01'"></app-my-sidenav-content-left-tab01>
<!-- <app-my-sidenav-content-left-tab01 *ngIf="selectedTab01"></app-my-sidenav-content-left-tab01> -->
<!-- Infos zu ng-template -> https://blog.angular-university.io/angular-ng-template-ng-container-ngtemplateoutlet/ -->
<!-- <ng-template>Unsichtbar</ng-template> -->
