<!-- Variables HTML Content Beispiel -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Allgemeines HTML-Content-Beispiel</title>
    <style>
      div { border: 1px solid; float: left; }
    </style>
  </head>
  <body>
    <h1>Allgemeines HTML-Content-Beispiel</h1>
    <div>
      <h2>Listenüberschrift</h2>
      <ul>
        <li>Listenpunkt 1</li>
        <li>Listenpunkt 2</li>
        <li>Listenpunkt 3</li>
      </ul>
      <p>my-sidenav-content works with this content: {{mySidenavContentData}}</p>
      SelectedTab: <b>{{globals.selectedTab}}</b>
    </div>
  </body>
</html>
