<!-- <p>
  my-sidenav-content-left-tab01 works!
</p> -->
<mat-expansion-panel [expanded]='false'>
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{mySidenavContentLeftDataTitel01}}
      </mat-panel-title>
      <mat-panel-description>
          {{mySidenavContentLeftDataBeschrieb01}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>{{mySidenavContentLeftDataEintrag01}}</div>
    <div>{{mySidenavContentLeftDataEintrag02}}</div>
    <mat-action-row></mat-action-row>
  </mat-expansion-panel>
