<div (resized)="onResized($event)" class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <!-- Desktop-Toolbar   -->
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="!mobileQuery.matches">
        <mat-toolbar-row >
        <!-- <span (click)="snav.toggle(); snav2.toggle()" ><button mat-icon-button><mat-icon>menu</mat-icon></button></span> -->
        Open Scool Ecosystems
        &nbsp;<span (click)="selectedTab='Tab01'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Tab 01</span>
        &nbsp;<span (click)="selectedTab='Tab02'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Tab 02</span>
      </mat-toolbar-row>
  </mat-toolbar>
<!-- Mobile-Toolbar   -->
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="mobileQuery.matches">
        <mat-toolbar-row >
        <!-- <span (click)="snav.toggle(); snav2.toggle()" ><button mat-icon-button><mat-icon>menu</mat-icon></button></span> -->
        Open Scool Ecosystems
        </mat-toolbar-row>
        <mat-toolbar-row >
        &nbsp;<span (click)="selectedTab='Tab01'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Tab 01</span>
        &nbsp;<span (click)="selectedTab='Tab02'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Tab 02</span>
        </mat-toolbar-row>
    </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="40"
      [opened]="mobileQuery.matches ? 'false' : 'true'" [style.marginTop.px]="mobileQuery.matches ? 40 : 0">
                  <app-my-sidenav-content-left></app-my-sidenav-content-left>
    </mat-sidenav>
    <mat-sidenav-content [style.marginTop.px]="mobileQuery.matches ? 120 : 0">
        <span *ngIf="!mobileQuery.matches">Test1</span>
      <!-- Icon zum öffnen und schliessen des linken sidenav panels -->
      <!-- Mit Click Beispiel zum Auffrufen eines eigenen Services -->
      <div (click)="snav.open(); logger.MySidenavControlServiceLog(msg); myLog('Test Ausdruck 04'); myLog(snav.opened)" *ngIf="!snav.opened"><mat-icon>swap_horiz</mat-icon></div>
      <div (click)="snav.close(); logger.MySidenavControlServiceLog(msg); myLog('Test Ausdruck 05'); myLog(snav.opened)" *ngIf="snav.opened"><mat-icon>swap_horiz</mat-icon></div>
      <!-- Hier könnte direkt sidenav content eingegeben werden  -->
      <!-- sidenav-responsive-example works! -->
      <!-- Variable, vom angeclickten Tab abhängiger Content -> die Komponenten mit dem HTML Content Template noch erstellen -->
      <app-my-sidenav-content></app-my-sidenav-content>
    </mat-sidenav-content>
    <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="40"
      [opened]="mobileQuery.matches ? 'false' : 'true'"  position="end" [style.marginTop.px]="mobileQuery.matches ? 80 : 0">
      <!-- Textstrukturierungsbeispiel mit click-Event-Data-Binding -->
      <!-- <p (click)="snav.toggle(); snav2.toggle()">sidenav-responsive-example works!</p> -->
      sidenav-responsive-example works!
    </mat-sidenav>
  </mat-sidenav-container>
 </div>
