<div (resized)="onResized($event)" class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <!-- Desktop-Toolbar   -->
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="!mobileQuery.matches">
        <mat-toolbar-row >
        <!-- <span (click)="snav.toggle(); snav2.toggle()" ><button mat-icon-button><mat-icon>menu</mat-icon></button></span> -->
        <span>
        Open Scool Ecosystems
      </span>
        <!-- &nbsp;&nbsp;&nbsp;<span (click)="selectedTab='Tab01'; myhtmlfile ='openses_01_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Übersicht</span> -->
        &nbsp;&nbsp;&nbsp;
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'de'" (click)="selectedTab='Tab01'; snav.close(); myhtmlfile ='openses_01_00.html'; changedTab()" >Übersicht</button>
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'en'" (click)="selectedTab='Tab01'; snav.close(); myhtmlfile ='openses_01_00.html'; changedTab()" >Overview</button>
        <!-- &nbsp;&nbsp;&nbsp;<span (click)="selectedTab='Tab02'; myhtmlfile ='openses_02_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Theorie</span> -->
        &nbsp;&nbsp;&nbsp;
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'de'" (click)="selectedTab='Tab02'; myhtmlfile ='openses_02_00.html'; changedTab()" >Theorie</button>
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'en'" (click)="selectedTab='Tab02'; myhtmlfile ='openses_02_00.html'; changedTab()" >Theory</button>
        <!-- &nbsp;&nbsp;&nbsp;<span (click)="selectedTab='Tab03'; myhtmlfile ='openses_03_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Praxis</span> -->
        &nbsp;&nbsp;&nbsp;
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'de'" (click)="selectedTab='Tab03'; myhtmlfile ='openses_03_00.html'; changedTab()" >Praxis</button>
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'en'" (click)="selectedTab='Tab03'; myhtmlfile ='openses_03_00.html'; changedTab()" >Practice</button>
        <span class="example-fill-remaining-space"></span>
        <!-- <span (click)="selectedTab='Tab04'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" ><mat-icon>people</mat-icon></span> -->
        <button mat-icon-button [matMenuTriggerFor]="languagemenu"><mat-icon>public</mat-icon></button>
          <mat-menu #languagemenu="matMenu">
              <button mat-menu-item (click)="selectedLanguage='de'; changedTab()">Deutsch</button>
              <button mat-menu-item (click)="selectedLanguage='en'; changedTab()">English</button>
          </mat-menu>
        <!-- &nbsp;<span (click)="selectedTab='Tab05'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" ><mat-icon>public</mat-icon></span> -->
        &nbsp;
            <button mat-icon-button [matMenuTriggerFor]="communitymenu"><mat-icon>people</mat-icon></button>
            <mat-menu #communitymenu="matMenu">
                <button mat-menu-item><a target= "_blank" href="https://github.com/buerojacob/openses">github App</a></button>
                <button mat-menu-item><a target= "_blank" href="https://github.com/buerojacob/content">github Content</a></button>
            </mat-menu>
      </mat-toolbar-row>
  </mat-toolbar>
<!-- Mobile-Toolbar   -->
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="mobileQuery.matches">
        <mat-toolbar-row >
        <!-- <span (click)="snav.toggle(); snav2.toggle()" ><button mat-icon-button><mat-icon>menu</mat-icon></button></span> -->
        Open Scool Ecosystems
        <span class="example-fill-remaining-space"></span>
        <!-- <span (click)="selectedTab='Tab04'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" ><mat-icon>people</mat-icon></span>
        &nbsp;<span (click)="selectedTab='Tab05'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()"><mat-icon>public</mat-icon></span>
         -->
       <!-- <span (click)="selectedTab='Tab04'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" ><mat-icon>people</mat-icon></span> -->
       <span (click)="selectedTab='Tab04'; changedTab()">
          <button mat-icon-button [matMenuTriggerFor]="languagemenu"><mat-icon>public</mat-icon></button>
          <mat-menu #languagemenu="matMenu">
              <button mat-menu-item (click)="selectedLanguage='de'; changedTab()">Deutsch</button>
              <button mat-menu-item (click)="selectedLanguage='en'; changedTab()">English</button>
          </mat-menu>
        </span>
        <!-- &nbsp;<span (click)="selectedTab='Tab05'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" ><mat-icon>public</mat-icon></span> -->
        &nbsp;
        <span (click)="selectedTab='Tab05'; changedTab()" >
            <button mat-icon-button [matMenuTriggerFor]="communitymenu"><mat-icon>people</mat-icon></button>
            <mat-menu #communitymenu="matMenu">
                <button mat-menu-item><a target= "_blank" href="https://github.com/buerojacob/openses">github App</a></button>
                <button mat-menu-item><a target= "_blank" href="https://github.com/buerojacob/content">github Content</a></button>
            </mat-menu>
        </span>
      </mat-toolbar-row>
        <mat-toolbar-row >
          <!-- <span (click)="selectedTab='Tab01'; myhtmlfile ='openses_01_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Übersicht</span>
          &nbsp;&nbsp;&nbsp;<span (click)="selectedTab='Tab02'; myhtmlfile ='openses_02_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Theorie</span>
          &nbsp;&nbsp;&nbsp;<span (click)="selectedTab='Tab03'; myhtmlfile ='openses_03_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Praxis</span>
         -->
         <button mat-stroked-button *ngIf="globals.selectedLanguage == 'de'" (click)="selectedTab='Tab01'; snav.close(); myhtmlfile ='openses_01_00.html'; changedTab()" >Übersicht</button>
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'en'" (click)="selectedTab='Tab01'; snav.close(); myhtmlfile ='openses_01_00.html'; changedTab()" >Overview</button>
        <!-- &nbsp;&nbsp;&nbsp;<span (click)="selectedTab='Tab02'; myhtmlfile ='openses_02_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Theorie</span> -->
        &nbsp;&nbsp;&nbsp;
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'de'" (click)="selectedTab='Tab02'; myhtmlfile ='openses_02_00.html'; changedTab()" >Theorie</button>
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'en'" (click)="selectedTab='Tab02'; myhtmlfile ='openses_02_00.html'; changedTab()" >Theory</button>
        <!-- &nbsp;&nbsp;&nbsp;<span (click)="selectedTab='Tab03'; myhtmlfile ='openses_03_01.html'; logger.MySidenavControlServiceLog(selectedTab); myLog(selectedTab); myLog(snav.opened); myLog(snav.toggle); changedTab()" >Praxis</span> -->
        &nbsp;&nbsp;&nbsp;
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'de'" (click)="selectedTab='Tab03'; myhtmlfile ='openses_03_00.html'; changedTab()" >Praxis</button>
        <button mat-stroked-button *ngIf="globals.selectedLanguage == 'en'" (click)="selectedTab='Tab03'; myhtmlfile ='openses_03_00.html'; changedTab()" >Practice</button>
        </mat-toolbar-row>
    </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="40"
      [opened]="mobileQuery.matches ? 'false' : 'true' && globals.selectedTab !== 'Tab01'"  [style.marginTop.px]="mobileQuery.matches ? 80 : 0">
      <!-- die nächste Zeile dient als Besipiel für eine Klassenvariable -->
      <!-- <p *ngIf="FalseTrueCheck">false/true check</p> -->
      <span *ngIf="globals.selectedLanguage == 'de'">
          <!-- Die nächste Zeile steht nur der Form wegen -> Sidenav Tab01 (Home) wird durch Tab01-Click-Event immer geschlossen -->
          <span *ngIf="globals.selectedTab == 'Tab01'">Selected Sidenav Tab01<br><br></span>
          <span *ngIf="globals.selectedTab == 'Tab02'">
               <mat-expansion-panel [expanded]='false'>
                    <mat-expansion-panel-header>
                      <!-- Es werden keine mat-panel Beschreibungen (mat-panel-description) verwendet -> Tag bleibt leer -->
                        <mat-panel-title>mySidenavContentLeftDataTitel01</mat-panel-title><mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>
                          <button mat-button (click)="myhtmlfile ='openses_02_01.html'; changedTab()">mySidenavContentLeftDataEintrag01</button><br>
                          <button mat-button (click)="myhtmlfile ='openses_02_02.html'; changedTab()">mySidenavContentLeftDataEintrag02</button>
                    </mat-expansion-panel>
          </span>
          <span *ngIf="globals.selectedTab == 'Tab03'">Selected Sidenav Tab03</span>
      </span>
      <span *ngIf="globals.selectedLanguage == 'en'">
          <span *ngIf="globals.selectedTab == 'Tab01'">Selected Sidenav Tab01 under construction</span>
          <span *ngIf="globals.selectedTab == 'Tab02'">Selected Sidenav Tab02 under construction</span>
          <span *ngIf="globals.selectedTab == 'Tab03'">Selected Sidenav Tab03 under construction</span>
      </span>
      <!-- Infos zu ng-template -> https://blog.angular-university.io/angular-ng-template-ng-container-ngtemplateoutlet/ -->
      <!-- <ng-template>Unsichtbar</ng-template> -->
    </mat-sidenav>
    <mat-sidenav-content [style.marginTop.px]="mobileQuery.matches ? 120 : 0">
      <!-- Icon zum öffnen und schliessen des linken sidenav panels -->
      <!-- Mit logger.MySidenavControlServiceLog-Beispielservice-Aufruf und myLog('Test Ausdruck 04')-Instanz-Aufruf  -->
      <div (click)="snav.open(); logger.MySidenavControlServiceLog(msg); myLog('Test Ausdruck 04'); myLog(snav.opened)" *ngIf="!snav.opened && globals.selectedTab !== 'Tab01'"><mat-icon >menu</mat-icon></div>
      <div (click)="snav.close(); logger.MySidenavControlServiceLog(msg); myLog('Test Ausdruck 05'); myLog(snav.opened)" *ngIf="snav.opened && globals.selectedTab !== 'Tab01'"><mat-icon >chevron_left</mat-icon></div>
      <!-- <iframe *ngIf="globals.selectedTab == 'Tab01'" src="http://buerojacob.ch/openses-content/openses_01_01.html" width="100%" height="100%" frameBorder="0"></iframe><br> -->
      <!-- <iframe *ngIf="globals.selectedTab == 'Tab01'" [src]='sanitizer.bypassSecurityTrustResourceUrl(myhtmlpath + myhtmlfile)' width="100%" height="100%" frameBorder="0"></iframe><br> -->
      <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(globals.myhtmlpath + globals.selectedLanguage + "/" + globals.myhtmlfile)' width="100%" height="100%" frameBorder="0"></iframe><br>
      <!-- <iframe *ngIf="globals.selectedTab == 'Tab02'" src="http://buerojacob.ch/openses-content/openses_02_01.html" width="100%" height="100%" frameBorder="0"></iframe><br> -->
      <!-- <iframe *ngIf="globals.selectedTab == 'Tab03'" src="http://buerojacob.ch/openses-content/openses_03_01.html" width="100%" height="100%" frameBorder="0"></iframe><br> -->
      <!-- Variable, vom angeclickten Tab abhängiger Content -> die Komponenten mit dem HTML Content Template noch erstellen -->
      <span *ngIf="globals.selectedTab == 'Tab01'">Selected Content Tab01 <br>Diese Seite ist im Aufbau.</span>
      <span *ngIf="globals.selectedTab == 'Tab02'">Selected Content Tab02 <br>Diese Seite ist im Aufbau.</span>
      <span *ngIf="globals.selectedTab == 'Tab03'">Selected Content Tab03 <br>Diese Seite ist im Aufbau.</span>
      <span *ngIf="globals.selectedLanguage == 'de'">Selected Language Deutsch <br>Diese Seite ist im Aufbau.</span>
      <span *ngIf="globals.selectedLanguage == 'en'">Selected Language English <br>Diese Seite ist im Aufbau.</span>
    </mat-sidenav-content>
    <!-- <mat-sidenav #snav2 [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="40"
      [opened]="mobileQuery.matches ? 'false' : 'true'"  position="end" [style.marginTop.px]="mobileQuery.matches ? 80 : 0">
      Textstrukturierungsbeispiel mit click-Event-Data-Binding
      <p (click)="snav.toggle(); snav2.toggle()">sidenav-responsive-example works!</p>
      sidenav-responsive-example works!
    </mat-sidenav> -->
  </mat-sidenav-container>
 </div>
